* {
    margin: 0;
    padding: 0;
}

.background-image {


    background-image: url(images/donation13.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: 50% 50%;
    height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 18, 18, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay h1 {
    font-size: 65px;
    letter-spacing: 0px;
    margin: 0 0 5px;
}

.overlay p {
    font-size: 12px;

}

.Donate-button {
    text-decoration: none;
    background: #FF5959;
    font-weight: 700;
    color: white;
    margin-top: 2%;
    padding: 10px 20px;
    border-radius: 5px;

}

.Donate-Today {
    padding-top: 5%;
    color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Donate-Today h1 {

    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 0px;
    margin: 0 0 5px;

}

.Donate-Today p {
    font-size: 12px;

}

.container {
    display: flex;
    margin: 2%;
    padding-left: 25px;
    text-align: center;
    justify-content: center;

}



#Five-BOX1 {

    color: #000000;
    background-color: #FAFAFA;
    width: 120px;
    height: 100PX;
    float: right;
    margin: 10px;
    border-radius: 5px;
    justify-content: center;
}

#Five-BOX2 {

    color: #FF5959;
    background-color: #FFEEEE;
    width: 120px;
    height: 100PX;
    text-align: center;
    float: right;
    margin: 10px;
    border-radius: 5px
}


#Five-BOX3 {

    color: #000000;
    background-color: #FAFAFA;
    width: 120px;
    height: 100PX;
    text-align: center;
    float: right;
    margin: 10px;
    border-radius: 5px
}



#Five-BOX4 {

    color: #000000;
    background-color: #FAFAFA;
    width: 120px;
    height: 100PX;
    text-align: center;
    float: right;
    margin: 10px;
    border-radius: 5px
}

#Five-BOX5 {

    color: #000000;
    background-color: #FAFAFA;
    width: 120px;
    height: 100PX;
    text-align: center;
    float: right;
    margin: 10px;
    border-radius: 5px;
}

#amount {
    text-align: center;
    color: #B3B3B3;
}

.container1 {
    display: flex;
    margin: 5%;
    padding-left: 25px;
    text-align: left;
    justify-content: left;

}

#three-BOX1 {
    color: #000000;
    background-color: rgba(79, 157, 166, 0.1);
    width: 360px;
    height: 352PX;
    text-align: left;
    float: right;
    margin: 10px;
    border-radius: 5px;

}

#three-BOX2 {
    color: #000000;
    background-color: rgba(255, 89, 89, 0.1);
    width: 360px;
    height: 352PX;
    text-align: left;
    float: right;
    margin: 10px;
    border-radius: 5px;
}

#three-BOX3 {
    color: #000000;
    background-color: #FFF4D6;
    width: 360px;
    height: 352PX;
    text-align: left;
    float: right;
    margin: 10px;
    border-radius: 5px;

}